body {
    background-color: #222;
}

.Clock {
    position: absolute;
    color: #00ff00;
    font-size: 80px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "Arial", sans-serif;
    letter-spacing: 10px;
}
